streamlit
pandas
numpy
mysql-connector-python
mysql-client
PIL
mysqlclient
SQLAlchemy
plotly
pyecharts
streamlit-echarts
streamlit-card
st-annotated-text
streamlit-timeline
folium
pillow
tabulate
streamlit-lightweight-charts
streamlit-folium
pydeck
